.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardRoot {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0px 30px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0 10px;
}

.cardRoot a img {
  object-fit: contain;
  height: 270px;
  width: 100%;
  margin-bottom: 10px;
}

.cardRoot h4 {
  text-align: center;
  border-top: 1px grey solid;
  padding-top: 15px;
  margin: 0px;
}

.cardRoot p {
  color: green;
  text-align: end;
  font-weight: 700;
}

.cardButton {
  padding-top: 3px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: 500;
}

.cardButton:hover {
  background-color: #29542a;
}

.authButton {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 100px;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.authDialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.authDialogOpen {
  visibility: visible;
  opacity: 1;
}

.authDialog>div {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 400px;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authDialog>div>input {
  font-size: 20px;
  padding: 3px;
  margin: 10px;
}

.insertCardButton {
  border: 3px dashed #A4C;
  border-radius: 2px;
  margin: 0px 30px;
  margin-top: 50px;
  margin-bottom: 0px;
  width: 270px;
  color: #A4C;
  background-color: white;
  height: 400px;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px grey solid;
}

.minPrice {
  position: absolute;
  top: 84px;
  right: 25px;
  font-size: 16px;
  font-weight: 500;
}

.minPrice input {
  font-size: 16px;
  margin-left: 10px;
}